# Ignore large dataset files
data/raw/
*.csv
*.tsv
*.xlsx

# Python cache and environments
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env

# IDE & OS configuration files
.DS_Store
.vscode/
.idea/
